.book-card {
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book-card:hover {
	transform: scale(1.05);
}

.scroll-container {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.scroll-container::-webkit-scrollbar {
	display: none;
}